<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">
 
    <listener>
        <listener-class>de.nikos410.ina.webshop.init.DeferredDataInitializer</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>/de/nikos410/ina/webshop/index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>login-controller</servlet-name>
        <servlet-class>de.nikos410.ina.webshop.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login-controller</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>register-controller</servlet-name>
        <servlet-class>de.nikos410.ina.webshop.controller.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register-controller</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logout-controller</servlet-name>
        <servlet-class>de.nikos410.ina.webshop.controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout-controller</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delete-account-controller</servlet-name>
        <servlet-class>de.nikos410.ina.webshop.controller.DeleteAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete-account-controller</servlet-name>
        <url-pattern>/delete-account</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>shop-controller</servlet-name>
        <servlet-class>de.nikos410.ina.webshop.controller.ShopController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>shop-controller</servlet-name>
        <url-pattern>/shop</url-pattern>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>shopping-cart-controller</servlet-name>
        <servlet-class>de.nikos410.ina.webshop.controller.ShoppingCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>shopping-cart-controller</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>order-controller</servlet-name>
        <servlet-class>de.nikos410.ina.webshop.controller.OrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>order-controller</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>manage-stock-articles-controller</servlet-name>
        <servlet-class>de.nikos410.ina.webshop.controller.ManageStockArticlesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manage-stock-articles-controller</servlet-name>
        <url-pattern>/manage-stock-articles</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>manage-stock-articles-add-controller</servlet-name>
        <servlet-class>de.nikos410.ina.webshop.controller.ManageStockArticlesAddController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manage-stock-articles-add-controller</servlet-name>
        <url-pattern>/manage-stock-articles/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>manage-stock-articles-delete-controller</servlet-name>
        <servlet-class>de.nikos410.ina.webshop.controller.ManageStockArticlesDeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manage-stock-articles-delete-controller</servlet-name>
        <url-pattern>/manage-stock-articles/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>manage-stock-articles-change-quantity-controller</servlet-name>
        <servlet-class>de.nikos410.ina.webshop.controller.ManageStockArticlesChangeQuantityController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manage-stock-articles-change-quantity-controller</servlet-name>
        <url-pattern>/manage-stock-articles/quantity</url-pattern>
    </servlet-mapping>

</web-app>
